*{

padding: 0;
box-sizing: border-box;
margin: 0;
}

#quadrato{
  width:80px;
  height:80px;
  border:1px solid black;
}

.flex{
  display:flex;
}

#griglia{
  flex-wrap:wrap;
 width:800px;
}

.malevolo{
  background-color:red;
}

.buono{
  background-color: green;
}
